.signup-button{
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-family: 'Black Ops One', cursive;
        border: solid 1px rgb(0, 255, 242);
        border-style: double none double;
        background: linear-gradient(to right, #520081 0%, #001885 100%);
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
}

.sign-up-form{
        font-family: "Black Ops One", cursive;
        color: rgb(255, 0, 0);
        border: solid 10px rgb(0, 255, 242);
        border-style: double none double;
        border-radius: 25px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to right, #45006dad 0%, #00146bad 100%);
}

.sign-cred{
        font-family: "Black Ops One", cursive;
        color:rgb(255, 255, 255);
}

.the-errors{
        font-weight: bold;
}
