.about-button {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Black Ops One', cursive;
  font-size: 20px;
}

.about {
  color: rgb(255, 255, 255);
  border: solid 10px rgb(226, 226, 226);
  border-style: none double none;
  background: #024b00ce;
  border-radius: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 220px;
}

.about-button:hover{
  color: rgb(0, 255, 0);
}
