.about-button {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

.about {
  color: rgb(255, 255, 255);
  border: solid 10px rgb(0, 255, 242);
  border-style: none double none;
  background: linear-gradient(to right, #001885e1 0%, #520081e1 100%);
  border-radius: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 220px;
}
