/* TODO Add site wide styles */
body{
    background-image: url('https://res.cloudinary.com/dzjkwepju/image/upload/v1637169177/Styckr/StarfieldSimulation_yrrrcf.gif');
    background-repeat:no-repeat;
    background-size: cover;

}

.all-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page1{
    background: linear-gradient(to right, #04810093 0%, #00768593 100%);
    border-radius: 70px;
    border: solid 10px rgb(226, 226, 226);
    border-style: none double none;
    margin-top: 150px;
    text-align: center;
    width: 560px;
    height: 75px;
}

.stellar{
    text-shadow: 1px 1px 20px rgb(0, 255, 242);
    font-size: 34px;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 255, 242);
}
.note{
    text-shadow: 1px 1px 20px rgb(0, 255, 0);
    margin-top: 20px;
    color: rgb(43, 255, 0);
}

.about-home{
    background: linear-gradient(to right, #04810093 0%, #00768593 100%);
    border-radius: 70px;
    border: solid 10px rgb(226, 226, 226);
    border-style: none double none;
    color: white;
    text-align: center;
    width: 750px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 170px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}

.not-logged-in{
    margin-top: 300px;
    margin-left: 550px;
}

button{
    color: rgb(0, 255, 242);
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: var(--ck-color-base-border);
}

:root{
    --ck-color-base-border: #ff0000;
}
