.profile-dropdown {
  position: absolute;
}

#nav-tag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(0, 255, 242);
  background-color: rgba(44, 44, 44, 0.726);
  /* border-radius: 5px; */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;

}

.logo{
  margin-left: 20px;
  margin-top: 5px;
}

.demo{
  color: rgb(255, 255, 255);
  border: solid 1px rgb(226, 226, 226);
  font-size: 15px;
  border-style: none double none;
  background: #007685;
  border-radius: 5px;
  font-family: "Black Ops One", cursive;
  margin: 10px;
  padding: 5px;
}

.demo:hover{
  background-color: #048100;
}

.log-out{
  color: rgb(255, 255, 255);
  border: solid 1px rgb(226, 226, 226);
  font-size: 15px;
  border-style: none double none;
  background-color: #048100;
  border-radius: 5px;
  font-family: "Black Ops One", cursive;
  margin: 10px;
  padding: 5px;
}

.log-out:hover{
  background: #007685;
}

.to-notes{
  font-size: 15px;
  color: rgb(255, 255, 255);
  border: solid 1px rgb(226, 226, 226);
  border-style: double none double;
  font-family: "Black Ops One", cursive;
  background: #007685;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.to-notes:hover{
  background-color: #048100;
}
